@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        scroll-behavior: smooth;
        @apply bg-light dark:bg-dark;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    
    @layer utilities {
        .scrollbar::-webkit-scrollbar {
            width: 8px;
        }

        .scrollbar::-webkit-scrollbar-track {
            border-radius: 5px;
            background: #edf7f410;
        }

        .scrollbar::-webkit-scrollbar-thumb {
            background: #6365f1c5;
            border-radius: 5px;
        }

        .scrollbar::-webkit-scrollbar-thumb:hover {
            background: #4438cac5;
        }
    }
}
